NEXT_PUBLIC_SUPABASE_URL=https://lvsipwcikfriwhrhzzmg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx2c2lwd2Npa2ZyaXdocmh6em1nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg3OTE1MzksImV4cCI6MjA3NDM2NzUzOX0.A0RqFvconjMInfVHktMR_GtdxLbI0EU5dYyLZBceTP4
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyBRxSWsYFV-Fm7pQdQ-qIDvKWVloy4MxBU
